<section class="post-cta">
  <h2>Thanks for reading.</h2>
  <p>
    To get in touch, <a href="mailto:shaun@codakuma.com">email me</a> or find me
    on <a href="https://mstdn.social/@shaundon"">Mastodon</a> or
    <a href="https://twitter.com/shauneba">Twitter</a>.
  </p>
  <p>If you liked this post, you'll love my iOS apps. Check out <a href="https://getpersonalbest.com" target="_blank">🥇 Personal Best</a>, <a href="https://taylorsversion.app" target="_blank">🎵 Taylor's Version</a>, and <a href="/pig" target="_blank">🐷 SalaryPig</a>.</p>
</section>
