<section class="post-cta">
  <h2>Thanks for reading.</h2>
  <p>
    To get in touch, <a href="mailto:shaun@codakuma.com">email me</a> or find me
    on <a href="https://mstdn.social/@shaundon"">Mastodon</a>.
  </p>
  <p>If you liked this post, you'll love my iOS apps. Check them out below.</p>

  <section class="apps apps--compact">
    <a href="https://getpersonalbest.com" class="app app--personal-best">
      <div class="app-inner">
        <img src="/assets/personal-best-icon.png" class="app-icon" />
        <div>
          <h3>Personal Best</h3>
          <span>Level up your workouts</span>
        </div>
      </div>
    </a>
    <a href="https://taylorsversion.app" class="app app--taylors-version">
      <div class="app-inner">
        <img src="/assets/taylors-version-icon.png" class="app-icon" />
        <div>
          <h3>Taylor's Version</h3>
          <span>Upgrade Taylor Swift songs in your playlists</span>
        </div>
      </div>
    </a>
    <a
      href="https://apps.apple.com/us/app/salarypig/id6475237479"
      class="app app--salarypig"
    >
      <div class="app-inner">
        <img src="/assets/salarypig-icon.png" class="app-icon" />
        <div>
          <h3>SalaryPig</h3>
          <span>Meet Trevor, the salary-tracking pig</span>
        </div>
      </div>
    </a>
    <a
      href="https://apps.apple.com/app/id6479753779"
      class="app app--ts-quiz"
    >
      <div class="app-inner">
        <img src="/assets/tsquiz-icon.png" class="app-icon" />
        <div>
          <h3>Taylor Swift Quiz</h3>
          <span>How well do you know Taylor Swift?</span>
        </div>
      </div>
    </a>
    <a
    href="https://apps.apple.com/app/id6563151175"
    class="app app--fb-quiz"
  >
    <div class="app-inner">
      <img src="/assets/fbq-icon.png" class="app-icon" />
      <div>
        <h3>Football Quiz</h3>
        <span>Test your soccer knowledge</span>
      </div>
    </div>
  </a>
  </section>

</section>
