<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {%- seo -%}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  {% if page.app_banner %}
  <meta
    name="apple-itunes-app"
    content="app-id={{ page.app_banner }}, app-clip-bundle-id={{ page.app_clip }}"
  />
  {% endif %}
  <meta
    name="theme-color"
    content="#f5efe0"
    media="(prefers-color-scheme: light)"
  />
  <meta
    name="theme-color"
    content="#000000"
    media="(prefers-color-scheme: dark)"
  />
</head>
