---
# Only the main Sass file needs front matter (the dashes are enough)
---

$spacing-base: 8px;
$spacing-xs: $spacing-base / 4;
$spacing-sm: $spacing-base / 2;
$spacing-lg: $spacing-base * 2;
$spacing-xl: $spacing-base * 3;
$spacing-xxl: $spacing-base * 4;
$border-radius: $spacing-sm * 2;

@mixin with-leading-icon($iconName) {
  &::before {
    font-family: Material Icons;
    content: $iconName;
    width: 25px;
  }
}

@mixin text-gradient($start, $end) {
  @media screen {
    background: $start;
    background: linear-gradient(90deg, $start 20%, $end 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .light-mode-only {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .dark-mode-only {
    display: none;
  }
}

html {
  --max-width: 800px;
  --accent-color: #08c;
  --complementary-color: #e0e0e0;
  --complementary-color-tint: #c0c0c0;
  --link-color: #c80337;
  --background-color: #f5efe0;
  --text-color: #121212;
  --text-secondary-color: #646464;
  --table-border-color: #666;
  --button-background: linear-gradient(45deg, #35a7df 12%, #e15d63 100%);
  --heading-color: #262626;
  --text-complementary-color: #121212;

  @media (prefers-color-scheme: dark) {
    --complementary-color: #262626;
    --complementary-color-tint: #363636;
    --background-color: #121212;
    --text-color: #999;
    --table-border-color: #666;
    --button-background: linear-gradient(45deg, #08c 12%, #ec3030 100%);
    --heading-color: #ccc;
    --link-color: #feeb87;
    --accent-color: rgb(84, 210, 235);
    --text-complementary-color: #eee;
  }

  ::selection {
    background: var(--link-color);
    color: white;
  }

  font-size: 16px;
  min-height: 100vh;
  line-height: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
}

.blank {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: $spacing-lg;

  p {
    line-height: 26px;
    margin-bottom: $spacing-xl;
  }

  a {
    text-decoration: none;
  }
}

main {
  margin-bottom: $spacing-xl;
  min-height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  display: flex;
  margin-bottom: $spacing-xxl;
  margin-top: $spacing-xxl;

  @media print {
    margin-bottom: $spacing-sm;
    margin-top: $spacing-lg;
  }
}

h1 {
  color: var(--heading-color);
  display: flex;
  margin-bottom: $spacing-xxl;
  margin-top: $spacing-xxl;
  font-size: 40px;
  line-height: 48px;

  @media print {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: $spacing-xxl * 1.25;

  @media print {
    font-size: 20px;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: $spacing-lg;

  @media print {
    font-size: 16px;
    line-height: 20px;
  }
}

h2 + h3 {
  margin-top: $spacing-lg;
}

ul.no-bullets {
  list-style: none;

  > li {
    margin: 0;
  }
}

li {
  margin-left: $spacing-base * 2;
  margin-bottom: $spacing-base;
  line-height: 24px;
}

a {
  box-sizing: border-box;
  color: var(--link-color);
  text-decoration: none;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    color: var(--accent-color);
  }

  @media print {
    color: var(--text-color);
    text-decoration: none;
  }
}

header {
  background: var(--complementary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 48px;
  transition: all 0.2s ease-in-out;

  a {
    font-weight: 600;
    text-decoration: none;
    font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

.header-logo-wrapper {
  display: flex;
  letter-spacing: 0.5px;
}

.header-logo {
  & > svg {
    fill: var(--accent-color);
    width: 180px;
  }

  &-path {
    fill: var(--link-color);
  }

  &:hover &-path {
    fill: var(--accent-color);
  }
}

.header-links {
  display: flex;

  a {
    font-size: 110%;
    padding: 0 12px;
  }
}

section {
  margin-bottom: $spacing-lg;
}

p {
  margin-bottom: $spacing-lg;
  line-height: 24px;

  @media print {
    font-size: 12px;
    line-height: 16px;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.apps {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-lg;
  margin-bottom: $spacing-xxl * 2;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &--compact {
    margin-bottom: 0;
    margin-top: $spacing-xl;

    .app {
      .app-inner {
        align-items: center;
        display: flex;
        padding: $spacing-lg;

        .app-icon {
          $size: 40px;
          height: $size;
          width: $size;
          margin-bottom: 0;
        }

        h3 {
          font-size: 110%;
          font-weight: 500;
          margin-bottom: 0;
        }

        div {
          display: inline-block;
          margin-left: $spacing-lg;
        }
      }
      span {
        display: none;
      }
    }
  }
}

.app {
  background: var(--complementary-color);
  background-size: cover;
  border-radius: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }

  .app-icon {
    $size: 70px;
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    height: $size;
    margin-bottom: $spacing-base;
    width: $size;
  }

  h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &-inner {
    -webkit-backdrop-filter: blur(40px) brightness(70%);
    backdrop-filter: blur(40px) brightness(70%);
    border-radius: 24px;
    height: 100%;
    padding: $spacing-xxl;
    width: 100%;
  }

  &--personal-best {
    background-image: url("/assets/personal-best-icon.png");
  }

  &--taylors-version {
    background: url("/assets/taylors-version-icon.png");
  }

  &--salarypig {
    background: url("/assets/salarypig-icon.png");
  }

  &--ts-quiz {
    background: url("/assets/tsquiz-icon.png");
  }
}

.post {
  margin: 0 auto;
  margin-bottom: $spacing-lg;
  max-width: var(--max-width);
  padding: 0 $spacing-lg;

  &__title {
    display: inline-block;
    font-size: 130%;
    margin-bottom: $spacing-sm;
  }

  &__date {
    font-weight: bold;
  }

  &__image-wrapper {
    background: rgba(0, 0, 0, 0.25);
    padding: $spacing-sm;
    text-align: center;
  }

  &__image {
    width: 150px;
  }

  &-title {
    font-size: 48px;
    justify-content: center;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }

  &-date {
    color: var(--text-secondary-color);
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: $spacing-lg;
  }
}

@media screen and (max-width: 600px) {
  .post-title {
    font-size: 40px;
    line-height: 48px;
  }
}

p:has(.post-image) {
  text-align: center;
  margin-top: $spacing-xxl;
}

.post-image {
  border-radius: $border-radius;
  box-shadow: 0 0 15px rgba(#000, 0.05);
  margin: 0 auto;
  max-width: 750px;
  width: 100%;

  &-small {
    border-radius: $border-radius;
    box-shadow: 0 0 15px rgba(#000, 0.25);
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
  }

  &--no-shadow {
    box-shadow: none;
  }
}

.post-cta {
  background: var(--complementary-color);
  border-radius: 16px;
  margin-top: $spacing-xxl * 2;
  padding: $spacing-xxl;

  h2 {
    font-size: 120%;
    margin-top: 0;
    margin-bottom: $spacing-lg;
  }

  a {
    text-decoration: none;
  }
}

.app-clip-code {
  width: 100%;
  max-width: 250px;
}

.promo-screenshots {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__screenshot {
    max-width: 250px;
    border-radius: $border-radius;
    box-shadow: 0 0 15px rgba(#000, 0.25);
    margin: $spacing-sm;
    min-width: 150px;
    max-height: 500px;
  }
}

footer {
  background: var(--complementary-color);
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-links {
  align-items: center;
  display: flex;
  font-size: 110%;
  font-weight: 500;
  justify-content: space-evenly;
  list-style: none;
  margin: $spacing-base auto;
  max-width: 700px;

  li {
    margin: 0 $spacing-sm;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .footer-links {
    flex-direction: column;

    li {
      margin: $spacing-base;
    }
  }
}

table {
  border: 1px solid var(--table-border-color);
  border-radius: $border-radius;
  padding: 5px;
  margin: 10px auto;
  max-width: 750px;
  width: 100%;
}

blockquote {
  border-left: 3px solid;
  padding-left: $spacing-lg;
  font-style: italic;
}

.flex-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  border-radius: $border-radius;
  background: var(--button-background);
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: $spacing-base;
  padding: ($spacing-sm * 2) ($spacing-lg * 2);
  text-align: center;
  text-decoration: none;
}

code {
  font-family: Menlo, monospace;
  font-size: 90%;
}

.newsletter-iframe {
  max-height: 200px;
}

.divider {
  border: 1px dashed var(--text-color);
  margin: $spacing-lg 0;
}

.screen-reader-only {
  position: absolute;
  left: -5000px;

  &:focus {
    background: #fff;
    color: #000;
    left: 0;
    padding: $spacing-lg;
  }
}

.screen-only {
  @media print {
    display: none;
  }
}

.print-only {
  @media screen {
    display: none;
  }
}

.cv {
  &-title {
    @include text-gradient(var(--link-color), var(--accent-color));
    display: block;
    height: $spacing-lg * 4;
    font-size: 250%;
    text-align: center;
    padding-top: $spacing-base;
    margin-bottom: 0;

    @media screen and (max-width: 400px) {
      font-size: 200%;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 400px) {
      flex-direction: column;
    }
  }

  &-button {
    text-decoration: none;
    color: var(--link-color);
    margin: $spacing-sm $spacing-base;

    @media print {
      color: var(--text-color);
    }
  }

  &-date {
    @include with-leading-icon("schedule");
    display: flex;
    margin-bottom: $spacing-base;
    font-size: 90%;
    opacity: 0.9;
  }

  &-role {
    @include with-leading-icon("work_outline");
    display: flex;
    margin-bottom: $spacing-sm;
  }

  &-previous-role {
    font-size: 80%;
    opacity: 0.9;
    margin-bottom: $spacing-base;
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.home {
  &-intro {
    background: var(--complementary-color);
    color: var(--text-complementary-color);
    font-size: 150%;
    padding: $spacing-xxl * 1.5 $spacing-lg;
    text-align: center;

    > p {
      line-height: 150%;
    }

    &-links {
      margin-top: $spacing-xl;

      a {
        background: var(--complementary-color);
        border: 1px solid var(--complementary-color-tint);
        border-radius: 13px;
        color: var(--link-color);
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        margin: 0 $spacing-sm;
        padding: $spacing-sm $spacing-lg;
        text-decoration: none;
        width: 100px;

        &:hover {
          background: var(--complementary-color-tint);
        }
      }
    }
  }

  &-apps {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 $spacing-lg;
  }

  &-posts {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 $spacing-lg;
  }

  &-post {
    a {
      font-size: 150%;
      font-weight: 500;
      text-decoration: none;
    }

    p {
      font-size: 110%;
      margin-bottom: 4px;
    }
  }

  &-post-date {
    color: var(--text-secondary-color);
    margin-bottom: $spacing-xxl;
  }
}

// Syntax highlighting

div.highlight {
  margin-bottom: $spacing-xl;
}

.highlight .hll {
  background-color: #49483e;
}
.highlight {
  background: #272822;
  border-radius: 10px;
  color: #f8f8f2;
  overflow-x: auto;
  padding: $spacing-sm;
}
.highlight .c {
  color: #75715e;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #66d9ef;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #f8f8f2;
} /* Name */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .p {
  color: #f8f8f2;
} /* Punctuation */
.highlight .ch {
  color: #75715e;
} /* Comment.Hashbang */
.highlight .cm {
  color: #75715e;
} /* Comment.Multiline */
.highlight .cp {
  color: #75715e;
} /* Comment.Preproc */
.highlight .cpf {
  color: #75715e;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #75715e;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
} /* Comment.Special */
.highlight .gd {
  color: #f92672;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #75715e;
} /* Generic.Subheading */
.highlight .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
} /* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
} /* Name.Class */
.highlight .no {
  color: #66d9ef;
} /* Name.Constant */
.highlight .nd {
  color: #a6e22e;
} /* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #a6e22e;
} /* Name.Function */
.highlight .nl {
  color: #f8f8f2;
} /* Name.Label */
.highlight .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #f8f8f2;
} /* Name.Property */
.highlight .nt {
  color: #f92672;
} /* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
} /* Operator.Word */
.highlight .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.highlight .mb {
  color: #ae81ff;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #e6db74;
} /* Literal.String.Affix */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .dl {
  color: #e6db74;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #a6e22e;
} /* Name.Function.Magic */
.highlight .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #f8f8f2;
} /* Name.Variable.Magic */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
