---
# Only the main Sass file needs front matter (the dashes are enough)
---

$spacing-base: 15px;
$spacing-sm: $spacing-base / 2;
$spacing-lg: $spacing-base * 2;
$accent-color: #08c;

html {
    border: $spacing-base solid $accent-color;
    font-size: 16px;
    padding: $spacing-base;
    min-height: 100vh;
    line-height: 22px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba($accent-color, 0.05);
    color: #333;
    font-family: 'Quicksand', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacing-base;
    margin-top: $spacing-base;
}

ul {
    margin-left: $spacing-base;
}

li {
    margin: $spacing-sm 0;
}

a {
    color: $accent-color;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}

header {
    margin: $spacing-lg 0;
    text-align: center;

    a {
        font-size: 250%;
    }
}

section {
    margin-bottom: $spacing-lg;
}

p {
    margin-bottom: $spacing-base;
}

.app {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-base;

    .app-icon {
        $size: 100px;
        border-radius: 17.54%;
        height: $size;
        margin-right: $spacing-base;
        width: $size;
    }

    & > h3 {
        margin-top: 0;
    }
}

.post-image {
    max-width: 750px;
    width: 100%;
}
