---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  <strong>Hi, I'm Shaun.</strong> I'm an app and web developer in London, UK.

  <h2>iOS Apps</h2>
  <section class="apps">

    <a href="https://getpersonalbest.com" class="app">
      <img src="/assets/personal-best-icon.png" class="app-icon" />
      <div>
        <h3>Personal Best</h3>
        <span>Level up your workouts</span>
      </div>
    </a>

    <a href="https://taylorsversion.app" class="app">
      <img src="/assets/taylors-version-icon.png" class="app-icon" />
      <div>
        <h3>Taylor's Version</h3>
        <span>Upgrade Taylor Swift songs in your playlists</span>
      </div>
    </a>

    <a href="healthdrop" class="app">
      <img src="/assets/healthdrop-icon.png" class="app-icon" />
      <div>
        <h3>HealthDrop</h3>
        <span>Save workouts easily</span>
      </div>
    </a>

  </section>

  {{ content }}
</div>
