---
layout: default
---

<div class="home">
  <div class="home-intro">
    <p><strong>Hi. I'm Shaun,</strong> an indie iOS developer in London, UK.</p>
    <p>I make apps for iOS and blog about indie life here.</p>
    <div class="home-intro-links">
      <a rel="me" href="https://mstdn.social/@shaundon" target="_blank"
        >Mastodon</a
      >
    </div>
  </div>

  <div class="home-apps">
    <h2>Apps for iOS</h2>
    <section class="apps">
      <a href="https://getpersonalbest.com" class="app app--personal-best">
        <div class="app-inner">
          <img src="/assets/personal-best-icon.png" class="app-icon" />
          <div>
            <h3>Personal Best</h3>
            <span>Level up your workouts</span>
          </div>
        </div>
      </a>

      <a href="https://taylorsversion.app" class="app app--taylors-version">
        <div class="app-inner">
          <img src="/assets/taylors-version-icon.png" class="app-icon" />
          <div>
            <h3>Taylor's Version</h3>
            <span>Upgrade Taylor Swift songs in your playlists</span>
          </div>
        </div>
      </a>

      <a
        href="https://apps.apple.com/us/app/salarypig/id6475237479"
        class="app app--salarypig"
      >
        <div class="app-inner">
          <img src="/assets/salarypig-icon.png" class="app-icon" />
          <div>
            <h3>SalaryPig</h3>
            <span>Meet Trevor, the salary-tracking pig</span>
          </div>
        </div>
      </a>

      <a
        href="https://apps.apple.com/app/id6479753779"
        class="app app--ts-quiz"
      >
        <div class="app-inner">
          <img src="/assets/tsquiz-icon.png" class="app-icon" />
          <div>
            <h3>Taylor Swift Quiz</h3>
            <span>How well do you know Taylor Swift?</span>
          </div>
        </div>
      </a>

      <a
        href="https://apps.apple.com/app/id6563151175"
        class="app app--fb-quiz"
      >
        <div class="app-inner">
          <img src="/assets/fbq-icon.png" class="app-icon" />
          <div>
            <h3>Football Quiz</h3>
            <span>Test your football knowledge</span>
          </div>
        </div>
      </a>
    </section>
  </div>

  <!-- <section>
    <h2>The Design Details newsletter</h2>
    <p>Get my free newsletter that showcases thoughtful touches from the digital and physical worlds.
      Learn more at <a href="https://niceux.design" target="_blank">niceux.design</a>, or subscribe below.</p>
    {% include nice-ux-design-cta.html %}
  </section> -->

  {{ content }}
</div>
