---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  <strong>Hi, I'm Shaun.</strong> I'm an app and web developer in London, UK. In my day job I work for <a href="https://skyscanner.net" target="_blank">Skyscanner</a>.

  <h2>iOS Apps</h2>
  <section class="apps">

    <a href="personal-best" class="app">
      <img src="/assets/personal-best-icon.png" class="app-icon" />
      <div>
        <h3>Personal Best</h3>
        <span>Your workouts, supercharged.</span>
      </div>
    </a>

<!--
    <a href="spectral" class="app">
      <h3>Spectral</h3>
      <span>Simple colour converter.</span>
    </a>  -->

  </section>

  {{ content }}
</div>
