<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%- seo -%}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display:ital@1&family=Karla&family=Overpass:wght@200&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/assets/mbd.css" | relative_url }}">
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
